--
-- PostgreSQL database dump
--

\restrict ueO0xVOSVCzOzlyMR4dhmE33cj3T6f1N7TFhaEXFNoHIt0qV5EwCMjZ5TWLpYTS

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: dblink; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS dblink WITH SCHEMA public;


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: asistencia_orm_entity_estado_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.asistencia_orm_entity_estado_enum AS ENUM (
    'asistio',
    'falla',
    'tarde',
    'excusa'
);


--
-- Name: asistencia_registros_estado_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.asistencia_registros_estado_enum AS ENUM (
    'presente',
    'falla_justificada'
);


--
-- Name: asistencia_sesiones_estado_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.asistencia_sesiones_estado_enum AS ENUM (
    'activa',
    'cerrada',
    'cancelada'
);


--
-- Name: cg_eventos_tipo_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.cg_eventos_tipo_enum AS ENUM (
    'festivo',
    'evaluacion',
    'actividad',
    'otro'
);


--
-- Name: cg_horarios_diasemana_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.cg_horarios_diasemana_enum AS ENUM (
    'lunes',
    'martes',
    'miercoles',
    'jueves',
    'viernes',
    'sabado',
    'domingo'
);


--
-- Name: cg_horarios_estado_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.cg_horarios_estado_enum AS ENUM (
    'programado',
    'activo',
    'finalizado',
    'cancelado'
);


--
-- Name: cg_horarios_jornada_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.cg_horarios_jornada_enum AS ENUM (
    'manana',
    'tarde',
    'noche'
);


--
-- Name: cg_solicitudes_cambio_estado_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.cg_solicitudes_cambio_estado_enum AS ENUM (
    'pendiente',
    'aprobada',
    'rechazada',
    'cancelada'
);


--
-- Name: cg_solicitudes_cambio_tipo_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.cg_solicitudes_cambio_tipo_enum AS ENUM (
    'cambio_horario',
    'cambio_ambiente',
    'cambio_jornada',
    'otro'
);


--
-- Name: formacion_asistencia_orm_entity_estado_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.formacion_asistencia_orm_entity_estado_enum AS ENUM (
    'abierta',
    'cerrada'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: asistencia_orm_entity; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.asistencia_orm_entity (
    id_asistencia uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    estado public.asistencia_orm_entity_estado_enum NOT NULL,
    hora time without time zone NOT NULL,
    observaciones character varying(260),
    formacion_fk uuid NOT NULL,
    archivo_soporte character varying(500),
    "aprendizId" character varying(36)
);


--
-- Name: asistencia_registros; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.asistencia_registros (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "sesionId" uuid,
    "aprendizId" character varying(36) NOT NULL,
    estado public.asistencia_registros_estado_enum DEFAULT 'presente'::public.asistencia_registros_estado_enum NOT NULL,
    "horaRegistro" timestamp without time zone DEFAULT now() NOT NULL,
    "firmaImagen" text,
    "facePhotoPath" character varying(500),
    "ipAddress" character varying(45),
    latitud numeric(10,8),
    longitud numeric(11,8),
    nota text,
    "soporteUrl" character varying(500),
    "asistenciaId" uuid
);


--
-- Name: asistencia_sesiones; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.asistencia_sesiones (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "horarioId" character varying(36) NOT NULL,
    fecha date NOT NULL,
    "horaInicio" time without time zone NOT NULL,
    "horaFin" time without time zone NOT NULL,
    estado public.asistencia_sesiones_estado_enum DEFAULT 'activa'::public.asistencia_sesiones_estado_enum NOT NULL,
    "instructorId" character varying(36) NOT NULL,
    "formacionAsistenciaId" uuid,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: cg_administradores; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cg_administradores (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nombre character varying(50) NOT NULL,
    apellido character varying(50),
    correo character varying(100) NOT NULL,
    documento character varying(20) NOT NULL
);


--
-- Name: cg_ambientes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cg_ambientes (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nombre character varying(100) NOT NULL,
    capacidad integer,
    tipo character varying(50),
    area character varying(100)
);


--
-- Name: cg_aprendices; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cg_aprendices (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nombre character varying(50) NOT NULL,
    apellido character varying(50),
    correo character varying(100) NOT NULL,
    documento character varying(20) NOT NULL,
    "fichaId" character varying(36),
    "facePhotoPath" character varying(500),
    "faceEmbedding" text,
    "lastAttendancePhotoPath" character varying(500)
);


--
-- Name: cg_competencias; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cg_competencias (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nombre character varying(200) NOT NULL,
    resultado text,
    "horasRequeridas" integer,
    "horarioId" character varying(36) NOT NULL,
    "fechaInicio" date,
    "fechaFin" date,
    "diasClase" json
);


--
-- Name: cg_configuracion; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cg_configuracion (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "pinRegistro" character varying(10) DEFAULT '1234'::character varying NOT NULL
);


--
-- Name: cg_eventos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cg_eventos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nombre character varying(200) NOT NULL,
    tipo public.cg_eventos_tipo_enum NOT NULL,
    "fechaInicio" date NOT NULL,
    "fechaFin" date,
    "horaInicio" time without time zone,
    "horaFin" time without time zone,
    lugar character varying(200),
    descripcion text,
    fichas json
);


--
-- Name: cg_fichas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cg_fichas (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    codigo character varying(20) NOT NULL,
    programa character varying(100) NOT NULL,
    area character varying(100) NOT NULL,
    "fechaInicio" date,
    "fechaFin" date,
    "intensidadHoraria" integer,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: cg_horarios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cg_horarios (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "diaSemana" public.cg_horarios_diasemana_enum NOT NULL,
    jornada public.cg_horarios_jornada_enum,
    "horaInicio" time without time zone NOT NULL,
    "horaFin" time without time zone NOT NULL,
    "fichaId" character varying(36) NOT NULL,
    "instructorId" character varying(36) NOT NULL,
    "ambienteId" character varying(36) NOT NULL,
    activo boolean DEFAULT false NOT NULL,
    estado public.cg_horarios_estado_enum DEFAULT 'programado'::public.cg_horarios_estado_enum NOT NULL,
    "minutosRetraso" integer DEFAULT 0 NOT NULL,
    "ubicacionTransversalNombre" character varying(100)
);


--
-- Name: cg_instructores; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cg_instructores (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nombre character varying(50) NOT NULL,
    apellido character varying(50),
    correo character varying(100) NOT NULL,
    documento character varying(20) NOT NULL,
    "esLider" boolean DEFAULT false NOT NULL,
    "areaLiderada" character varying(100),
    "esTransversal" boolean DEFAULT false NOT NULL
);


--
-- Name: cg_notificaciones; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cg_notificaciones (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    titulo character varying(200) NOT NULL,
    mensaje text NOT NULL,
    "destinatarioId" character varying(36),
    "destinatarioRol" character varying(20),
    leida boolean DEFAULT false NOT NULL,
    fecha timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: cg_solicitudes_cambio; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cg_solicitudes_cambio (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "instructorId" character varying(36) NOT NULL,
    "horarioId" character varying(36),
    tipo public.cg_solicitudes_cambio_tipo_enum NOT NULL,
    estado public.cg_solicitudes_cambio_estado_enum DEFAULT 'pendiente'::public.cg_solicitudes_cambio_estado_enum NOT NULL,
    motivo text NOT NULL,
    "respuestaAdmin" text,
    "fechaSolicitud" timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: cg_ubicaciones; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cg_ubicaciones (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nombre character varying(100) NOT NULL,
    tipo character varying(50) NOT NULL
);


--
-- Name: formacion_asistencia_orm_entity; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.formacion_asistencia_orm_entity (
    id_formacion uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    fecha date NOT NULL,
    hora_inicio time without time zone NOT NULL,
    hora_fin time without time zone NOT NULL,
    horario_fk uuid,
    configuracion_fk uuid,
    "cgHorarioId" character varying(36),
    estado public.formacion_asistencia_orm_entity_estado_enum DEFAULT 'abierta'::public.formacion_asistencia_orm_entity_estado_enum NOT NULL
);


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    "timestamp" bigint NOT NULL,
    name character varying NOT NULL
);


--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: cg_ambientes PK_0cd135ab0c6094430535eee8400; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cg_ambientes
    ADD CONSTRAINT "PK_0cd135ab0c6094430535eee8400" PRIMARY KEY (id);


--
-- Name: cg_competencias PK_0fa1cb19914957559ed46317235; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cg_competencias
    ADD CONSTRAINT "PK_0fa1cb19914957559ed46317235" PRIMARY KEY (id);


--
-- Name: cg_solicitudes_cambio PK_10311ee09c8f8753ab4197d5919; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cg_solicitudes_cambio
    ADD CONSTRAINT "PK_10311ee09c8f8753ab4197d5919" PRIMARY KEY (id);


--
-- Name: cg_eventos PK_1755ced1850bbfffe07e028cb3e; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cg_eventos
    ADD CONSTRAINT "PK_1755ced1850bbfffe07e028cb3e" PRIMARY KEY (id);


--
-- Name: cg_horarios PK_1de010504e1b6dfdba237a5d510; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cg_horarios
    ADD CONSTRAINT "PK_1de010504e1b6dfdba237a5d510" PRIMARY KEY (id);


--
-- Name: cg_fichas PK_1eb399a59ea9a29f8fb94e817bc; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cg_fichas
    ADD CONSTRAINT "PK_1eb399a59ea9a29f8fb94e817bc" PRIMARY KEY (id);


--
-- Name: cg_notificaciones PK_2d2c27876faabffa6359568e057; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cg_notificaciones
    ADD CONSTRAINT "PK_2d2c27876faabffa6359568e057" PRIMARY KEY (id);


--
-- Name: cg_ubicaciones PK_391973e27a56c5a420c9705559c; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cg_ubicaciones
    ADD CONSTRAINT "PK_391973e27a56c5a420c9705559c" PRIMARY KEY (id);


--
-- Name: cg_aprendices PK_61cd1a5b7585144acb3a38a4037; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cg_aprendices
    ADD CONSTRAINT "PK_61cd1a5b7585144acb3a38a4037" PRIMARY KEY (id);


--
-- Name: cg_administradores PK_884c41112add399a64db89332ae; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cg_administradores
    ADD CONSTRAINT "PK_884c41112add399a64db89332ae" PRIMARY KEY (id);


--
-- Name: migrations PK_8c82d7f526340ab734260ea46be; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT "PK_8c82d7f526340ab734260ea46be" PRIMARY KEY (id);


--
-- Name: cg_configuracion PK_964f8b7a50d4a1347b4c4c05202; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cg_configuracion
    ADD CONSTRAINT "PK_964f8b7a50d4a1347b4c4c05202" PRIMARY KEY (id);


--
-- Name: asistencia_orm_entity PK_asistencia; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asistencia_orm_entity
    ADD CONSTRAINT "PK_asistencia" PRIMARY KEY (id_asistencia);


--
-- Name: asistencia_registros PK_asistencia_registros; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asistencia_registros
    ADD CONSTRAINT "PK_asistencia_registros" PRIMARY KEY (id);


--
-- Name: asistencia_sesiones PK_asistencia_sesiones; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asistencia_sesiones
    ADD CONSTRAINT "PK_asistencia_sesiones" PRIMARY KEY (id);


--
-- Name: cg_instructores PK_fedae827c42c5ae6595aa6b0bdf; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cg_instructores
    ADD CONSTRAINT "PK_fedae827c42c5ae6595aa6b0bdf" PRIMARY KEY (id);


--
-- Name: formacion_asistencia_orm_entity PK_formacion_asistencia; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.formacion_asistencia_orm_entity
    ADD CONSTRAINT "PK_formacion_asistencia" PRIMARY KEY (id_formacion);


--
-- Name: cg_fichas UQ_31aa9ba707064741eb4a7b5d6b8; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cg_fichas
    ADD CONSTRAINT "UQ_31aa9ba707064741eb4a7b5d6b8" UNIQUE (codigo);


--
-- Name: cg_aprendices UQ_3b07cffad3866e6911ae0e43e32; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cg_aprendices
    ADD CONSTRAINT "UQ_3b07cffad3866e6911ae0e43e32" UNIQUE (documento);


--
-- Name: cg_aprendices UQ_3f9813d718edb974f4701abd203; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cg_aprendices
    ADD CONSTRAINT "UQ_3f9813d718edb974f4701abd203" UNIQUE (correo);


--
-- Name: cg_administradores UQ_50de951479fee00e060f84bf62a; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cg_administradores
    ADD CONSTRAINT "UQ_50de951479fee00e060f84bf62a" UNIQUE (correo);


--
-- Name: cg_administradores UQ_879255f157c43b75510592b3985; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cg_administradores
    ADD CONSTRAINT "UQ_879255f157c43b75510592b3985" UNIQUE (documento);


--
-- Name: cg_instructores UQ_9232f04998420ba25462cfc53ee; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cg_instructores
    ADD CONSTRAINT "UQ_9232f04998420ba25462cfc53ee" UNIQUE (documento);


--
-- Name: cg_instructores UQ_a29838d85437c5f171134fb5ad5; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cg_instructores
    ADD CONSTRAINT "UQ_a29838d85437c5f171134fb5ad5" UNIQUE (correo);


--
-- PostgreSQL database dump complete
--

\unrestrict ueO0xVOSVCzOzlyMR4dhmE33cj3T6f1N7TFhaEXFNoHIt0qV5EwCMjZ5TWLpYTS

